<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbms.dao.AppinfoMapper">
	<select id="selectInfoCondition" resultType="App_info"
		parameterType="string">
		SELECT a.* ,(SELECT valueName from data_dictionary WHERE
		a.`status`=valueId and typeCode="APP_STATUS") as statusName,
		(select
		d.devName FROM dev_user d WHERE a.devId=d.id) as devName ,

		(SELECT
		categoryName FROM
		app_category c WHERE
		c.id=a.categoryLevel1 )
		as
		categoryLevel1Name,

		(SELECT
		categoryName FROM
		app_category c WHERE
		c.id=a.categoryLevel2 )
		as
		categoryLevel2Name,

		(SELECT categoryName FROM
		app_category c WHERE
		c.id=a.categoryLevel3 )
		as
		categoryLevel3Name,(SELECT valueName FROM
		data_dictionary d WHERE
		a.`flatformId`=d.valueId
		and
		d.typeCode='APP_FLATFORM') as
		flatformName

		FROM
		`app_info` a
		<trim prefix="where" prefixOverrides="and||or">
			<if test="apkName !='' and apkName!=null"> and a.APKName=#{apkName}</if>
			<if test="appinfoid !='' and appinfoid!=null">and a.id=#{appinfoid}</if>
		</trim>

	</select>
	<insert id="insertInfo" parameterType="App_info">
		INSERT INTO app_info
		(softwareName,APKName,supportROM,interfaceLanguage,
		softwareSize,updateDate,devId,appInfo,status,onSaleDate,offSaleDate,
		flatformId,downloads,createdBy,creationDate,
		categoryLevel1,categoryLevel2,categoryLevel3,logoPicPath,logoLocPath,versionId)

		values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},
		#{softwareSize},#{updateDate},#{devId},#{appInfo},#{status},#{onSaleDate},#{offSaleDate},
		#{flatformId},#{downloads},#{createdBy},#{creationDate},
		#{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{logoPicPath},#{logoLocPath},#{versionId})
	</insert>


	<update id="updateAppinfo" parameterType="App_info">
		update app_info SET
		softwareName=#{softwareName},APKName=#{APKName},supportROM=#{supportROM},interfaceLanguage=#{interfaceLanguage},softwareSize=#{softwareSize},updateDate=#{updateDate},
		devId=#{devId},appInfo=#{appInfo},status=#{status},onSaleDate=#{onSaleDate},offSaleDate=#{offSaleDate},flatformId=#{flatformId},downloads=#{downloads},createdBy=#{createdBy},creationDate=#{creationDate},
		modifyBy=#{modifyBy},modifyDate=#{modifyDate},categoryLevel1=#{categoryLevel1},categoryLevel2=#{categoryLevel2},categoryLevel3=#{categoryLevel3},logoPicPath=#{logoPicPath},logoLocPath=#{logoLocPath},versionId=#{versionId}
		where id=#{id}
	</update>

	<update id="updateAppVersion" parameterType="string">
		UPDATE app_info SET
		versionId=#{versionId} WHERE id=#{id}
	</update>

	<delete id="deleteAppinfo" parameterType="string">
		delete FROM app_info
		WHERE id=#{id}
	</delete>

	<update id="sale" parameterType="string">
		UPDATE app_info SET `status`=
		#{appstatus} WHERE id=#{appId}
	</update>


</mapper>   
        